.idea/*
C:/Users/doni/3D Objects/Programms/python/DJANGO/ArtColibri_BeakEnd/ArtColibri_Backend/ApiRest/__pycache__
C:/Users/doni/3D Objects/Programms/python/DJANGO/ArtColibri_BeakEnd/ArtColibri_Backend/ArtColibri_Backend/__pycache__
